{% extends "Squelette.html" %}


{% block Contenu %}

<h1>Ecriture d'un nouvelle article</h1>

    <div class="row">
        <form class="col s9" method="post">
          <div class="row">
              <div class="input-field col s9">
                  <input type="text" id="Titre" name="Titre" class="validate">
                  <label for="Nom">Titre</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s9">
              <textarea id="Zone_Article" name="Zone_Article" class="materialize-textarea"></textarea>
              <label for="textarea1">Contenu de votre article</label>
            </div>
          </div>
          <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Soumettre l'article
                    <i class="material-icons right">send</i>
                </button>
          </div>
        </form>
    </div>

{% endblock %}