<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Calendrier</a></li>
          <li><a href="#">Inscription</a></li>
          <li><a href="#">Connexion</a></li>
        </ul>
      </div>
    </nav>

    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
      <div class="col s9 offset-s9">
        <div class="card-panel indigo darken-1">
          <div class="white-text">
            <p>Dernier Articles</p>
            {% block Article %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    
    

    {% block Contenu %}{% endblock %}


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>
  </body>
</html>